<div class="sgds-card {{include.parentCardStyle}}">
  <div class="sgds-card-content">
    <img src="{{include.img_src}}" alt="" />
    {% include card-header-info.html disableItemCount=include.disableItemCount name=include.name item_count=include.item_count url_str=include.url_str%}
    <div style="display: flex; align-items: center; justify-content: start;">
      {% if include.description_image %}
      <img src="{{include.description_image}}" style="margin: unset; margin-right: .5rem;" />
      {% endif %}
      <p>{{ include.description }}</p>
    </div>
  </div>
</div>