<!-- rename this file to sgts-service-layer-small-card -->
<!-- For SGTS products which are live, there will be these headers in the frontmatter
sgts_collection_group: [analytics]
sgts_layer_group: [services]
sgts_title: Personalise
-->

<div class="sgdz-card grid-item">
  <div class="sgds-card-header">
    <h4 class="sgds-card-header-title">{{include.header}}</h4>
  </div>
  {% if {{include.card_type}} == "sm" %}
  <div class="sgds-card-content">
  {% elsif {{include.card_type}} == "lg" %}
  <div class="sgds-card-content sgds-card-ul-hz">
  {% endif %}
      <ul>
        {% for item in site.products  %}
          {% if item.sgts_collection_group contains include.category and item.sgts_layer_group contains include.layer %}
            <a href={{item.redirect_from[0]}} target="_blank">
              <li class="live">{{item.sgts_title}}</li>
            </a>
          {% endif %}
        {% endfor %}
          <!-- Render WIP and Planned products using SGTS index.html frontmatter -->

          <!-- Render Services Layer -->
          {% if include.layer == "services" %}
            {% assign sgts_service_layer_planned_products = page.sgts_service_layer | map: include.category | map: "planned" %}
            <!-- map is returning the product array in an array which is why need [0] to access the array which is wrapped around by map -->
            {% for plannedProduct in sgts_service_layer_planned_products[0] %}
              <li class="pending">{{ plannedProduct }}</li>
            {% endfor %}

            <!-- {% assign sgts_service_layer_wip_products = page.sgts_service_layer | map: include.category | map: "work_in_progress" %} -->
            {% assign sgts_service_layer_wip_products = page.sgts_service_layer | map: include.category %}
            <!-- map is returning the product array in an array which is why need [0] to access the array which is wrapped around by map -->
            {{ sgts_service_layer_wip_products }}
            {% for wipProduct in sgts_service_layer_wip_products[0] %}
              <li class="wip">{{ wipProduct }}</li>
            {% endfor %}
          <!-- Render Base Layer -->
          {% elsif include.layer == "base" %}
            {% assign sgts_base_layer_planned_products = page.sgts_base_layer | map: include.category | map: "planned" %}
            <!-- map is returning the product array in an array which is why need [0] to access the array which is wrapped around by map -->
            {% for plannedProduct in sgts_base_layer_planned_products[0] %}
              <li class="pending">{{ plannedProduct }}</li>
            {% endfor %}
            {% assign sgts_base_layer_wip_products = page.sgts_base_layer | map: include.category  %}
            <!-- {{  sgts_base_layer_wip_products }} -->
            <!-- map is returning the product array in an array which is why need [0] to access the array which is wrapped around by map -->
            {% for wipProduct in sgts_base_layer_wip_products[0] %}
              <li class="wip">{{ wipProduct }}</li>
            {% endfor %}
          {% endif %}
      </ul>
  </div>
</div>