<div class="card-grid-container is-fullwidth">
    {% assign eventIncrementer = 0 %}
    {% assign collectionDumps = site.communities | where_exp: "item", "item.path contains '/events' or item.path contains '/stack-x-meetups'" | sort: 'date' | reverse %}

    {% for sub_section in collectionDumps %}
        {% unless sub_section.url contains '/overview' or sub_section.title contains 'Past Webinars'%}
            {% assign name = sub_section.title %}
            {% assign description = sub_section.description%}
            {% assign sub_section_slug = sub_section.name | slugify %}
            {% assign item_count = sub_section.items | size | minus: 1 %}
            {% assign url_str = sub_section.url | append : sub_section_slug  %}

            {% if sub_section.date == blank %}
                {% assign eventDateAndTiming = sub_section.last_modified_at %}
            {% else %}
                {% assign eventDateAndTiming = sub_section.date %}
            {% endif%}

            {% if sub_section.url contains '/events'%}
                {% assign categoryTagging = "Conferences" %}
            {% else %}
                {% assign categoryTagging = "STACK-X Meetups" %}
            {% endif %}

            {% assign img_src = '/assets/icons/' | append: categoryTagging | replace: '-', '_' | replace: ' ', '_' | append: '.svg' | downcase %}

            {%- comment-%}
            Variables to check the status of an event
            {%- endcomment -%}
            {% assign currentTime = 'now'| date: '%s' %}
            {% assign eventTime = sub_section.date | date: '%s' %}
            {% assign temporaryCurrentTime = 'now'| date: '%B %d, %Y' %}
            {% assign temporaryEventTime = sub_section.date | date: '%B %d, %Y' %}

            {% if temporaryCurrentTime == temporaryEventTime %}
                {% assign status = 'NOW' %}
                {% assign colorTheme = "#D0021B" %}
            {% elsif currentTime | date: '%s' > sub_section.date | date: '%s' %}
                {% assign status = 'PAST' %}
                {% assign colorTheme = "#323232" %}
            {% else %}
                {% assign status = 'UPCOMING' %}
                {% assign colorTheme = "#0161AF" %}
            {% endif %}

            {%- comment-%}
            checks for the type of events
            {%- endcomment -%}
            {% if 2 > eventIncrementer %}
            <div id="event-visible-content">
                {% include card-variant-calendar.html 
                    id="event-visible-content"
                    name=name
                    item_count=item_count
                    description=description
                    status=status
                    img_src=img_src
                    url_str=url_str
                    colorTheme=colorTheme
                    eventCategory=categoryTagging
                    eventDateAndTiming=eventDateAndTiming
                    disableItemCount=include.disableItemCount
                %}
            </div>
            {% else %}
            <div id="event-hidden-content">
                {% include card-variant-calendar.html
                    id="event-hidden-content"
                    name=name
                    item_count=item_count
                    description=description
                    status=status
                    img_src=img_src
                    url_str=url_str
                    colorTheme=colorTheme
                    eventCategory=categoryTagging
                    eventDateAndTiming=eventDateAndTiming
                    disableItemCount=include.disableItemCount
                %}
            </div>
            {% endif %}
            {% assign eventIncrementer = eventIncrementer | plus: 1 %}
        {% endunless %}
    {% endfor %}
    <button id="show-more-events" class="sgds-button sgds-button--primary" onclick="showMoreInformation()">
        View all events
    </button>
</div>

<script>
    // Hides the content at the start initially during the creation phase using IIFEs
    (() => {
        const nodes = document.querySelectorAll('*[id^="event-hidden-content"]');
        for (var i = 0; i < nodes.length; i++) {
            nodes[i].style.display = 'none';
        }
    })();

    function showMoreInformation() {
        // changes the visibility of the content
        const nodes = document.querySelectorAll('*[id^="event-hidden-content"]');
        for (var i = 0; i < nodes.length; i++) {
            nodes[i].style.display = 'block';
        }

        // changes the visibility of the button to none
        document.getElementById('show-more-events').style.display = 'none';
        // Otherwise change the text of the button to show less
    }
</script>