{%- assign category = include.specified_category_tag | default: '' -%}
{%- assign events = site.data['events-nav'] -%}
{%- assign filteredEvents = events 
    | where_exp: "item", "item.event_category contains category" 
    | sort: "event_date"
-%}

<div class="card-grid-container is-fullwidth">
    {%- for sub_section in filteredEvents reversed:true -%}

        {%- assign sub_section_slug = sub_section.name | slugify -%}
        {%- assign url_str = page.url | remove: 'index.html' | append: sub_section_slug -%}
        {%- assign eventDateAndTiming = sub_section.event_date | default: sub_section.date -%}
        {%- assign recordings_uploaded = sub_section.event_recording_link | default: false -%}

        {%- assign imageCategory = sub_section.event_category | append : "s"| downcase | slugify-%}
        {%- assign img_src = '/assets/img/communities/' | append: imageCategory | append: '.svg' | downcase -%}

        <!-- Remove the index.html then append sub_section_slug -->
        <div future-date="{{ eventDateAndTiming | date: '%Y%m%d' }}">
            {% include card-variant-calendar.html 
                name=sub_section.name
                description=sub_section.event_description
                img_src=img_src
                url_str=url_str
                eventCategory=sub_section.event_category
                recordings_uploaded=recordings_uploaded
                eventDateAndTiming=eventDateAndTiming
                disableItemCount=include.disableItemCount
            %}
        </div>
    {%- endfor -%}
</div>