---
title: STACK-X Meetups
layout: layout-page-sidenav
description: STACK the Flags is an online, Jeopardy! style Capture-the-Flag (CTF) competition that is open to everyone.
    Find out more here.
---

<div class="spacing-container-vertical">
    <!-- Header -->
    <div>
        <h2 style="padding-top: 1rem; padding-bottom: 1rem;">Overview for STACK-X Meetups</h2>
        <picture>
            <img src="/assets/img/stack-x-meetups-banner.svg" alt="stack-x meetup banner" />
        </picture>
        <p>
            The STACK-X Meetup community is a platform for everyone who is passionate about using technology for public
            good. It is hosted on Meetup and provides an avenue for everyone to share their views and feedback, learn
            from experts and fellow techies and join fruitful discussions on the use of technology for public good.

            You can also join our STACK-X Meetup community through this link to receive notifications about our upcoming
            Meetups.

            Email tmo@tech.gov.sg if you have any enquiries or have something to share with the STACK-X community!
        </p>
        <p>
            You can also join our STACK-X Meetup community through this <a href="#TOBEREPLACED">link</a> to receive
            notifications about our upcoming Meetups.
        </p>
        <p>
            Email <a href="#TOBEREPLACED">tmo@tech.gov.sg</a> if you have any enquiries or have something to share with
            the STACK-X community!
        </p>
        <hr />
    </div>

    <!-- Upcoming Conferences -->
    <div>
        <h3>All Upcoming STACK-X Meetups</h3>
        {% include site-section-event-listing.html 
            is_reversed=false
            show_upcoming=true
            show_recent_past=false
            limit_number_of_content=2
            specified_category_tag="stack-x-meetups"
        %}
    </div>

    <hr />

    <!-- Past Conferences -->
    <div>
        <h3>Recent Past STACK-X Meetups</h3>
        {% include site-section-event-listing.html 
            is_reversed=false
            show_upcoming=false
            show_recent_past=true
            limit_number_of_content=2
            specified_category_tag="stack-x-meetups"
        %}
    </div>
</div>