---
title: Singapore Government Tech Stack
redirect_from:
- /singapore-government-tech-stack/
- /sgts/
layout: layout-page-soicalmedia-right
sgts_service_layer:
- Planned:
  - Analytics:
  - Design:
  - Digital Identity:
  - IoT:
  - Data Science:
  - Data Transfer:
- Work_In_Progress:
  - Analytics:
  - Design:
  - Digital Identity:
    - Authorise
    - Notify
    - Sign 
  - IoT:
  - Data Science:
    - Transcrible
    - GovText
    - Fraud Detect
  - Data Transfer:
    - Video Exchange
sgts_base_layer:
- Planned:
  - Communications:
  - Toolchain:
  - Runtime:
  - Monitoring:
    - Gov Cyber Sec Ops Centre
    - Cloudscape
  - Service Management:
- Work_In_Progress:
  - Communications:
    - APEX Cloud
    - APEX Marketplace
  - Toolchain:
  - Runtime:
    - IaC
  - Monitoring:
    - Endpoint Det & Res
  - Service Management:
    - Developer Portal
    - SEED & TechPass
    - TechBiz
---

<h2>Overview</h2>
<p>
  GovTech is developing the Singapore Government Tech Stack (SGTS) with a vision
  to modernise development practice across Whole-Of-Government (WOG) to help
  build secure systems that are responsive to constantly evolving citizens and
  business needs. To achieve this, we need to adopt a three-pront approach:
  <strong>People, Platform </strong>and <strong>Practice.</strong>
<ul>
  <li>People: We build the right capabilities and a growth mindset to adopt the
    technology practices in our development teams.</li>
  <li>Platform: We offer the right set of tools through SGTS for building high quality, secure systems.</li>
  <li>Practice: We offer guidance on how to use the tools to empower the developers.</li>
</ul>
<img src="/assets/img/sgts/overview_sgts.svg" />
</p>
<div class="row is-multiline">
  <div class="col is-6-desktop is-12-tablet">
    <h3>Benefits</h3>
    <p>
      Products within SGTS are built with the following 6 principles:
    </p>
  </div>
</div>
<div class="col is-12-desktop is-12-tablet padding--sm">
  <h3>Key Objectives</h3>
  <p>
    SGTS aims to
  <ol>
    <li><strong>improve agility</strong> of app development and deployment by reducing the need for agencies to set up extensive digital
      infrastructure. It offers a more powerful development ecosystem with right tools that allows the Government and
      vendors build code efficiently.</li>
    <li><strong>improve quality and compliance</strong> to policy and cyber security standards by baking them into the development
      environment
      and finding vulnerabilities early.</li>
    <li><strong>lower the costs</strong> of development of digital services by using centrally managed common services offering economies
      of scale and
      reducing duplication.</li>
  </ol>
  </p>
</div>
<h3>What is SGTS?</h3>
<p>SGTS is a set of platform tools that streamlines and simplifies the development process and enables code reuse across
  WOG to build secure, high quality applications. SGTS has a 2-layer architecture where the **Base Layer** focuses on
  standardising development tools and environment and at the top, the **Services Layer** drives code reusability within
  WOG.</p>
<img src="/assets/img/sgts/whatissgts_sgts.svg " class="margin--top--xl" />

<!--Anba Start-->
<h3>Singapore Government Tech Stack (SGTS)</h3>
<div class="padding--bottom--sm">
  <section id="service-layer" class="sgds-section service-layer">
    <div id="service-layer-header" class="sgds-container is-fluid">
      <div class="row">
        <div class="col is-7">
          <h4>Service Layer</h4>
        </div>
        <div class="col is-5">
          <p>
            Legend: <object data="/assets/icons/oval_green.svg"></object> Live
            <object data="/assets/icons/oval_orange.svg"></object> Work in
            progress
            <object data="/assets/icons/oval_blue.svg"></object> Planned
          </p>
        </div>
      </div>
      <!-- Start of cards for each service layer-->
      <div class="card-grid-container sg-tech-stack">
        {% include sgts-service-layer-small-card.html header="Analytics" layer="Services Layer" cardType="sm" %} 
        {% include sgts-service-layer-small-card.html header="Design" layer="Services Layer" cardType="sm" %} 
        {% include sgts-service-layer-small-card.html header="Digital Identity" layer="Services Layer" cardType="sm" %} 
        {% include sgts-service-layer-small-card.html header="IoT" layer="Services Layer" cardType="sm" %} 
        {% include sgts-service-layer-small-card.html header="Data Science" layer="Services Layer" cardType="sm" %} 
        {% include sgts-service-layer-small-card.html header="Data Transfer" layer="Services Layer" cardType="sm" %}
      </div>
    </div>
  </section>
</div>

<div class="padding--top--sm">
  <!--Base Layer-->
  <section id="base-layer" class="sgds-section base-layer">
    <div id="base-layer-header" class="sgds-container is-fluid">
      <div class="row">
        <div class="col is-7">
          <h4>Base Layer</h4>
        </div>
        <div class="col is-6">
          <p>
            Legend: <object data="/assets/icons/oval_green.svg"></object> Live
            <object data="/assets/icons/oval_orange.svg"></object> Work in
            progress
            <object data="/assets/icons/oval_blue.svg"></object> Planned
          </p>
        </div>
      </div>
      <!-- Start of cards for each base layer-->
      <!-- Start of Communtications-->
      <div class="row">
        <div class="col">
          <div class="card-grid-container sg-tech-stack">
            {% include sgts-service-layer-small-card.html header="Communications" layer="Base Layer" cardType="lg" %}
          </div>
        </div>
      </div>
      <!-- End of Communtications-->
      <!-- Start of Between Communications and service managment-->
      <div class="row">
        <div class="col">
          <div class="card-grid-container sg-tech-stack">
            {% include sgts-service-layer-small-card.html header="Toolchain" layer="Base Layer" cardType="sm" %} 
            {% include sgts-service-layer-small-card.html header="Runtime" layer="Base Layer" cardType="sm" %} 
            {% include sgts-service-layer-small-card.html header="Monitoring" layer="Base Layer" cardType="sm" %}
          </div>
        </div>
      </div>
      <!-- End of Between Communications and service managment-->
      <!-- Start of service managment-->
      <div class="row">
        <div class="col">
          <div class="card-grid-container sg-tech-stack">
            {% include sgts-service-layer-small-card.html header="Service Management" layer="Base Layer" cardType="lg" %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sgds-section hosting-layer">
    <picture>
      <source 
         media="(orientation: landscape)"
         srcset="/assets/img/sgts/hostingLayer_desktop_sgts.svg">
      <source 
         media="(orientation: portrait)"
         srcset="/assets/img/sgts/hostingLayer_mobile_sgts.svg">
         
    <img src="/assets/img/sgts/hostingLayer_desktop_sgts.svg" width="100%" height="auto">
   </picture>
  </section>
</div>
<h3>Success Stories</h3>
<p>More than 200 systems from 40 have already reaped the benefits of SGTS by implementing their services or applications
  on cloud. These include time and cost savings allowing them to focus on the services and applications instead of
  building cloud architectures.
  <ul>
    <li>ICA & PA’s Digital transformation journey with SGTS</li>
    <li> MOE’s Digital Office</li>
  </ul>
 </p>
<div>
</div>
<!--Anba End-->