---
title: Singapore Government Tech Stack
redirect_from:
  - /singapore-government-tech-stack/
  - /sgts/
layout: layout-page
---

<h2>Introducing Singapore Government Tech Stack</h2>
<p>
  To enable government agencies to build digital services quickly and
  effectively, GovTech is developing the Singapore Government Tech Stack (SGTS),
  a common platform that streamlines and simplifies the development process.
  With SGTS, agencies will be able to utilise a suite of tools and services
  hosted on a common infrastructure to ensure consistency and high quality in
  their applications.
</p>
<div class="row is-multiline">
  <div class="col is-6-desktop is-12-tablet">
    <p>
      A tech stack may refer to different sets of applications, depending on the
      context. Hence, as part of our next steps in adopting cloud for
      Whole-Of-Government (WOG), we intend to standardise the definition of SGTS
      - a common Base Layer consisting of components such as Toolchain,
      Communications, Runtime, Monitoring & Service Management with a clear
      product roadmap and adoption support plan. GovTech has assembled a new
      CODEX (Core Operations Development Environment and eXchange) team to do
      so.
    </p>
    <h3>Why SGTS?</h3>
    <p>
      The core focus of SGTS is to supercharge developers with agile development
      and modernise the development practice with reusable components. Today,
      <a
        href="/products/categories/infrastructure-and-hosting/government-on-commercial-cloud"
        >GCC</a
      >
      reduces repetition of acquiring and configuring servers, which minimises
      set-up errors and costs. With SGTS, agencies will have access to reusable
      components for application development, such as Runtime (e.g. deployment
      types like containers and serverless) and Orchestration & Management
      (e.g., CI/CD, API Gateway and Service Proxy). This will then allow
      agencies to <strong>build less and deliver more.</strong>
    </p>
  </div>
  <div class="col is-6-desktop is-12-tablet">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>Getting to know CODEX</h4>
        <p>
          CODEX is a Strategic National Project for achieving Singapore’s Smart
          Nation vision by increasing engineering productivity. The team aims to
          drive the use of GCC
          <a
            href="/products/categories/infrastructure-and-hosting/government-on-commercial-cloud"
            rel="noopener noreferrer nofollow"
            >(Government on Commercial Cloud)</a
          >
          and SGTS products in WOG development, while adhering to security audit
          and compliance. The government expects to reduce operating costs
          overall with using highly reusable software components in a
          collaborative environment.
        </p>
      </div>
    </div>
  </div>
</div>
<h3>Moving Up the Line of Innovation</h3>
<img src="/assets/img/SGTSVision.png" />
<h3>Impact of SGTS</h3>
<table class="table is-bordered" style="table-layout: fixed">
  <tbody>
    <tr>
      <td>
        <p><strong>Applications</strong></p>
      </td>
      <td>
        <p><strong>Developers</strong></p>
      </td>
      <td>
        <p><strong>Management</strong></p>
      </td>
    </tr>
    <tr>
      <td><p>Are built on reusable standardised parts</p></td>
      <td><p>Can focus on their core business application</p></td>
      <td>
        <p>
          Can meet and exceed their organisational needs to satisfy their
          customers
        </p>
      </td>
    </tr>
    <tr>
      <td style="word-wrap: break-word">
        <p>Ensures policy compliance — built on standard parts</p>
        <p>Ensures robustness — standardisation reduces errors</p>
      </td>
      <td style="word-wrap: break-word">
        <p>
          Enables agility and accommodates frequent changes in customer
          requirements
        </p>
        <p>
          Eliminates tedious and repetitive configuration and environment set-up
          tasks
        </p>
        <p>
          Allows stress-free development and deployment as bugs are discovered
          early in CI/CD
        </p>
      </td>
      <td style="word-wrap: break-word">
        <p>
          Delivers products quickly by gathering customer requirements and
          improving the products incrementally
        </p>
        <p>Allows cost savings through software reuse</p>
        <p>Ensures compliance to security standards</p>
      </td>
    </tr>
  </tbody>
</table>
<h3>SGTS Product Roadmap</h3>
<p>
  SGTS comprises a two-layer architecture — Base Layer and Services Layer — with
  components that make up the app development lifecycle, from set-up to going
  live.
</p>

<h5>Base Layer</h5>
<img src="/assets/img/SGTSBaseLayer1.png" style="border: 2px solid #f5f5f5" />

<h5>Services Layer</h5>
<p>
  The services layer comprises rapidly evolving and widely applicable, reusable
  service components in areas including App services, Data & Analytics,
  Identity, AI and data exchange.
</p>
<h3>Reaping Benefits with SGTS</h3>
<p>
  20 agencies, 900 users across 80 systems have already reaped the benefits of
  SGTS by implementing their services or applications on cloud. These include
  time and cost savings allowing them to focus on the services and applications
  instead of building cloud architectures.
</p>
<p>
  Watch Kevin KB Ng, Director of CODEX, present on
  <a href="https://www.youtube.com/watch?v=Cg6aV1IC1jE&feature=youtu.be"
    >SGTS during STACK 2020.</a
  >
</p>
<p>
  <i
    >Get in touch with us at
    <a href="mailto:ask_codex@tech.gov.sg">ask_codex@tech.gov.sg</a>.</i
  >
</p>
<!--Anba Start-->
<h3>Singapore Government Tech Stack (SGTS)</h3>
<div class="padding--bottom--sm">
  <section
    id="service-layer"
    class="sgds-section "
    style="background-color: #E2EFF8; border-style: dashed; border-color: #0161AF;"
  >
    <div id="service-layer-header" class="sgds-container is-fluid">
      <div class="row">
        <div class="col is-8">
          <h5>Services Layer</h5>
        </div>
        <div class="col is-4">
          <p>
            Legend: <object data="/assets/icons/oval_green.svg"></object> Live
            <object data="/assets/icons/oval_orange.svg"></object> Work in
            progress
            <object data="/assets/icons/oval_blue.svg"></object> Planned
          </p>
        </div>
      </div>
      <!-- Start of cards for each service layer-->

      <div class="card-grid-container sg-tech-stack">
        <div class="sgds-card grid-item">
          <div class="sgds-card-header">
            <p class="sgds-card-header-title">Analytics</p>
          </div>
          <div class="sgds-card-content">
            <ul>
              <li>Live</li>
              <li>Work in progress</li>
              <li>planeed</li>
            </ul>
          </div>
        </div>
        <div class="sgds-card grid-item">
          <div class="sgds-card-header">
            <p class="sgds-card-header-title">Design</p>
          </div>
          <div class="sgds-card-content">
            <ul>
              <li>Live</li>
              <li>Work in progress</li>
              <li>planeed</li>
            </ul>
          </div>
        </div>
        <div class="sgds-card grid-item">
          <div class="sgds-card-header">
            <p class="sgds-card-header-title">Digital Identity</p>
          </div>
          <div class="sgds-card-content">
            <ul>
              <li>Live</li>
              <li>Work in progress</li>
              <li>planeed</li>
              <li>Live</li>
              <li>Work in progress</li>
              <li>planeed</li>
              <li>Live</li>
              <li>Work in progress</li>
              <li>planeed</li>
            </ul>
          </div>
        </div>
        <div class="sgds-card grid-item">
          <div class="sgds-card-header">
            <p class="sgds-card-header-title">IoT</p>
          </div>
          <div class="sgds-card-content">
            <ul>
              <li>Live</li>
              <li>Work in progress</li>
              <li>planeed</li>
            </ul>
          </div>
        </div>
        <div class="sgds-card grid-item">
          <div class="sgds-card-header">
            <p class="sgds-card-header-title">Data Science</p>
          </div>
          <div class="sgds-card-content">
            <ul>
              <li>Live</li>
              <li>Work in progress</li>
              <li>planeed</li>
            </ul>
          </div>
        </div>
        <div class="sgds-card grid-item">
          <div class="sgds-card-header">
            <p class="sgds-card-header-title">Data Transfer</p>
          </div>
          <div class="sgds-card-content">
            <ul>
              <li>Live</li>
              <li>Work in progress</li>
              <li>planeed</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="padding--top--sm">
  <!--Base Layer-->
  <section
    id="service-layer"
    class="sgds-section"
    style="background-color: #E2EFF8; border-style: dashed; border-color: #0161AF;"
  >
    <div id="service-layer-header" class="sgds-container is-fluid">
      <div class="row">
        <div class="col is-8">
          <h5>Base Layer</h5>
        </div>
        <div class="col is-4">
          <p>
            Legend: <object data="/assets/icons/oval_green.svg"></object> Live
            <object data="/assets/icons/oval_orange.svg"></object> Work in
            progress
            <object data="/assets/icons/oval_blue.svg"></object> Planned
          </p>
        </div>
      </div>
      <!-- Start of cards for each base layer-->
      <!-- Start of Communtications-->
      {% for item in site.data.singapore-government-tech-stack %}
      {% if item.type == "Base Layer" and item.name == "Communications" %}
          <div class="row">
            <div class="col">
              <div class="card-grid-container sg-tech-stack">
                <div class="sgds-card grid-item">
                  <div class="sgds-card-header">
                    <p class="sgds-card-header-title">{{ item.name }}</p>
                  </div>
                  <div class="sgds-card-content sgds-card-ul-hz ">
                    <ul>
                      {% for services in item.items %}
                      {% if services != "Overview" %}
                      <li>{{services}}</li>
                      {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
      {% endif %}
      {% endfor %}
      <!-- <div class="row">
        <div class="col">
          <div class="card-grid-container sg-tech-stack">
            <div class="sgds-card grid-item">
              <div class="sgds-card-header">
                <p class="sgds-card-header-title">Communications</p>
              </div>
              <div class="sgds-card-content sgds-card-ul-hz ">
                <ul>
                  <li>APEX on Prem</li>
                  <li>APEX</li>
                  <li>APEX Marketplace</li>
                  <li>ADEX (SDX)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- End of Communtications-->
      <!-- Start of Between Communications and service managment-->
      <div class="row">
      <div class="col">
      <div class="card-grid-container sg-tech-stack">
      {% for item in site.data.singapore-government-tech-stack %}
      {% if item.type == "Base Layer" and item.name != "Communications" and item.name != "Service Management"%}
      <div class="sgds-card grid-item">
        <div class="sgds-card-header">
          <p class="sgds-card-header-title">{{item.name}}</p>
        </div>
        <div class="sgds-card-content">
          <ul>
            {% for services in item.items %}
            {% if services != "Overview" %}
            <li>{{services}}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      </div>
      </div>
      </div>
      <!-- <div class="row">
        <div class="col">
          <div class="card-grid-container sg-tech-stack">
          <div class="sgds-card grid-item">
            <div class="sgds-card-header">
              <p class="sgds-card-header-title">Toolchain</p>
            </div>
            <div class="sgds-card-content">
              <ul>
                <li>Live</li>
                <li>Work in progress</li>
                <li>planeed</li>
              </ul>
            </div>
          </div>
          <div class="sgds-card grid-item">
            <div class="sgds-card-header">
              <p class="sgds-card-header-title">Runtime</p>
            </div>
            <div class="sgds-card-content">
              <ul>
                <li>Live</li>
                <li>Work in progress</li>
                <li>planeed</li>
              </ul>
            </div>
          </div>
          <div class="sgds-card grid-item">
            <div class="sgds-card-header">
              <p class="sgds-card-header-title">Monitoring</p>
            </div>
            <div class="sgds-card-content">
              <ul>
                <li>Live</li>
                <li>Work in progress</li>
                <li>planeed</li>
                <li>Live</li>
                <li>Work in progress</li>
                <li>planeed</li>
                <li>Live</li>
                <li>Work in progress</li>
                <li>planeed</li>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </div> -->
      <!-- End of Between Communications and service managment-->
      <!-- Start of service managment-->
      <div class="row">
        <div class="col">
          <div class="card-grid-container sg-tech-stack">
          {% for item in site.data.singapore-government-tech-stack %}
          {% if item.type == "Base Layer" and item.name == "Service Management"%}
          <div class="sgds-card grid-item">
            <div class="sgds-card-header">
              <p class="sgds-card-header-title">{{item.name}}</p>
            </div>
            <div class="sgds-card-content sgds-card-ul-hz ">
              <ul>
                {% for services in item.items %}
                {% if services != "Overview" %}
                <li>{{services}}</li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>      
      <!-- <div class="row">
        <div class="col">
          <div class="card-grid-container sg-tech-stack">
            <div class="sgds-card grid-item">
              <div class="sgds-card-header">
                <p class="sgds-card-header-title">Service Management</p>
              </div>
              <div class="sgds-card-content sgds-card-ul-hz ">
                <ul>
                  <li>Developer Portal</li>
                  <li>SEEDD & TechPass</li>
                  <li>TechBiz</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- End of service managment-->

      <!-- <div class="card-grid-container sg-tech-stack">
      <div class="sgds-card grid-item">
        <div class="sgds-card-header">
          <p class="sgds-card-header-title">Analytics</p>
        </div>
        <div class="sgds-card-content">
          <ul>
            <li>Live</li>
            <li>Work in progress</li>
            <li>planeed</li>
          </ul>
        </div>
      </div>
      <div class="sgds-card grid-item">
        <div class="sgds-card-header">
          <p class="sgds-card-header-title">Design</p>
        </div>
        <div class="sgds-card-content">
          <ul>
            <li>Live</li>
            <li>Work in progress</li>
            <li>planeed</li>
          </ul>
        </div>
      </div>
      <div class="sgds-card grid-item">
        <div class="sgds-card-header">
          <p class="sgds-card-header-title">Digital Identity</p>
        </div>
        <div class="sgds-card-content">
          <ul>
            <li>Live</li>
            <li>Work in progress</li>
            <li>planeed</li>
            <li>Live</li>
            <li>Work in progress</li>
            <li>planeed</li>
            <li>Live</li>
            <li>Work in progress</li>
            <li>planeed</li>
          </ul>
        </div>
      </div>
      <div class="sgds-card grid-item">
        <div class="sgds-card-header">
          <p class="sgds-card-header-title">IoT</p>
        </div>
        <div class="sgds-card-content">
          <ul>
            <li>Live</li>
            <li>Work in progress</li>
            <li>planeed</li>
          </ul>
        </div>
      </div>
      <div class="sgds-card grid-item">
        <div class="sgds-card-header">
          <p class="sgds-card-header-title">Data Science</p>
        </div>
        <div class="sgds-card-content">
          <ul>
            <li>Live</li>
            <li>Work in progress</li>
            <li>planeed</li>
          </ul>
        </div>
      </div>
      <div class="sgds-card grid-item">
        <div class="sgds-card-header">
          <p class="sgds-card-header-title">Data Transfer</p>
        </div>
        <div class="sgds-card-content">
          <ul>
            <li>Live</li>
            <li>Work in progress</li>
            <li>planeed</li>
          </ul>
        </div>
      </div>
    </div> -->
    </div>
  </section>
</div>



{%- assign collectionName = page.collection -%} {%- assign url_last = page.id |
split: "/" | last -%}
<div class="row sidenav-container">
  <div class="col is-2 is-hidden-touch sidenav">
    <aside class="sgds-menu">
      <ul class="sgds-menu-list">
        {%- if page.single_level_nav -%} {%- include sidenav-single-level.html
        -%} {% else %} {%- include sidenav.html -%} {% endif %}
      </ul>
    </aside>
  </div>
</div>

<div>
  {% for item in site.data.singapore-government-tech-stack %}
  {% if item.type == "Base Layer" %}
      {{ item.name }}
  {% endif %}
    <!-- <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
      {{ item.items[1] }}
    </a> -->
  {% endfor %}
</div>


<!--Anba End-->
