---
title: Communities
layout: layout-page-sidenav
description: >
  Explore our various community engagement channels here, from STACK-X Meetups to newsletters to open source technologies to COVID-19 volunteering opportunities!
---

<h2>GovTech’s Community Development Efforts</h2>
<div class="row">
    <div class="col is-12">
        <p>
            We are excited to engage with the wider developer ecosystem as we continue to build and refine digital
            products. We believe that our goal – to build better products for the public good – can be achieved only
            through meaningful collaboration with the developer community.
        </p>
        <hr />
        <h3>Upcoming Events</h3>
        {% include site-section-listing-prototype.html sectionName='events' disableItemCount=true %}
        <hr />
        <h3>What's New</h3>
        {% include site-section-tabs.html description_image='sgds-icon-calendar.svg' disableItemCount=true %}
    </div>
</div>