<h2>GovTech’s Community Development Efforts</h2>
<div class="row">
    <div class="col is-12">
        <p>
            We are excited to engage with the wider developer ecosystem as we continue to build and refine digital
            products. We believe that our goal – to build better products for the public good – can be achieved only
            through meaningful collaboration with the developer community.
        </p>
        <hr />
        <h3>Upcoming Events</h3>
        <div>
            {% include site-section-listing.html sectionName='communities' disableItemCount=true %}
        </div>
        <hr />
        <h3>What's New</h3>
        <div>
            {% include site-section-tabs.html disableItemCount=true %}
        </div>
    </div>
</div>