---
title: Conferences
layout: layout-page-sidenav
description: STACK the Flags is an online, Jeopardy! style Capture-the-Flag (CTF) competition that is open to everyone.
    Find out more here.
---

<div class="spacing-container-vertical">
    <!-- Header -->
    <div>
        <h2>Overview for Conferences</h2>
        <p>
            Join the tech community in a variety of events aimed at building stronger community connections,
            peer-to-peer
            learning, sharing of thought leadership from industry experts and the provision of industry updates. Our
            events
            are
            suited for individuals of all ages!
        </p>
        <hr />
    </div>

    <!-- Upcoming Conferences -->
    <div>
        <h3>All Upcoming Conferences</h3>
        {% include site-section-event-listing.html 
            is_reversed=false
            show_upcoming=true
            show_recent_past=false
            limit_number_of_content=2
            specified_category_tag="conferences"
        %}
    </div>

    <hr />

    <!-- Past Conferences -->
    <div>
        <h3>Recent Past Conferences</h3>
        {% include site-section-event-listing.html 
            is_reversed=true
            show_upcoming=false
            show_recent_past=true
            limit_number_of_content=2
            specified_category_tag="conferences"
        %}
    </div>

</div>
<script>
    (() => {
        // Selects the hidden upcoming and past events
        const nodes = document.querySelectorAll('*[id*="conferences-hidden-content"]');
        for (var i = 0; i < nodes.length; i++) {
            nodes[i].style.display = "none";
        }
    })()

    // Hides the content at the start initially during the creation phase using IIFEs
    function toggleUpcomingConferencesVisibility() {
        // changes the visibility of the button to none
        const nodes = document.querySelectorAll('*[id^="upcoming-conferences-hidden-content"]');
        for (var i = 0; i < nodes.length; i++) {
            nodes[i].style.display = "block";
        }

        // Changes the visibility of the button 
        const button = document.getElementById('upcoming-conferences-button')
        button.style.display = "none";
    }

    function togglePastConferencesVisibility(){
        const nodes = document.querySelectorAll('*[id^="past-conferences-hidden-content"]')
        for (var i = 0; i < nodes.length; i++) {
            nodes[i].style.display = "block";
        }

        // Changes the visibility of the button 
        const button = document.getElementById('past-conferences-button')
        button.style.display = "none";
    }
</script>