---
title: Singpass – Our National Digital Identity
layout: layout-page-sidenav
category: Digital Identity
sub_collection_render: true
single_level_nav: true
_data: single-level-nav
redirect_from:
    - /products/categories/digital-identity/singpass/
    - /products/categories/digital-identity/singpass.html
    - /technologies/digital-identity/singpass/
    - /technologies/digital-identity/singpass.html
description: >
  Integrate Singpass into government and private sector digital services to ensure secure and convenient access and transactions.
---

<p>*insert header banner for singpass*</p>

<p>Singpass, Singapore’s National Digital Identity (NDI), is a strategic national project implemented and managed by the <a href="http://www.tech.gov.sg/" target="_blank">Government Technology Agency (GovTech)</a> under the <a href="https://www.smartnation.gov.sg/about-smart-nation/sndgg" target="_blank">Smart Nation Digital Government Group (SNDGG)</a>. SNDGG was formed in 2017 and is housed under the <a href="https://www.pmo.gov.sg/" target="_blank">Prime Minister’s Office (PMO)</a>.</p>

<p>As a foundational digital infrastructure that is critical to achieving Singapore’s vision of improving the lives of citizens, Singpass creates opportunities for businesses, and transforms the capabilities of government agencies. It provides government agencies and private sector organisations with a convenient and secure platform for users to conduct transactions.</p>

<p>As of February 2022, over 700 organisations offering more than 2,000 services have adopted Singpass. This means, Singpass boosts over 4.5 million users, which consists of 97% of Singapore Citizens and Permanent Residents aged 15 and above. To add to this, more than 350 million personal and corporate transactions are facilitated by Singpass every year.</p>

<h3>Singpass' suite of services</h3>

<div class="card-grid-container grid-25rem">
  {% for project in site.communities %}
    {% assign id = project.id | split: "/" | last %}
    {% if id != "overview" or id != "features" or id != "resources" and project.path contains "singpass" %}
    <div class="grid-item">
      <div class="sgds-card">
        <div class="sgds-card-content">
          <h3><a href="{{ project.url }}" target="_blank">{{ project.title }}</a></h3>
          <p>{{ project.short_description | markdownify }}</p>
        </div>
<!--        <div class="sgds-card-footer">
          {% unless project.details_link == false %}
          <a href="{{ project.url }}" class="sgds-card-footer-item"
            >Find out more</a
          >
          {% endunless %}
        </div>-->
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

<h2>Features</h2>

<h2>Success Stories</h2>

<p>Or use cases, customer stories</p>

<h2>Pricing</h2>

<p>To publish pricing behind techpass</p>

<h2>Contact Us</h2>

<p>Reach out to the product team with your queries or feedback through this form.</p>